h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Playfair Display', serif;
}

html {
    scroll-behavior: smooth;
}

.link-manual {
    color: black;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 4em;
    width: 100%;
}

#header-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#header {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgb(31, 29, 40);
    color: white;
    height: 4em;
    top: 0;
}

body>section {
    min-height: calc(100vh - 4em);
}

#home {
    background-color: rgb(0, 167, 145);
}

#education {
    background-color: rgb(0, 141, 132);
}

#technologies {
    background-color: rgb(0, 126, 84);
}

#projects {
    background-color: rgb(0, 126, 4);
}

#contact {
    background-color: rgb(0, 90, 126);
}

#table {
    background-color: rgb(24, 145, 192);
}

#table {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#table-my-card {
    width: 70vw;
}

#btn {
    background-color: #cec700;
    margin: 2em;
    border-radius: 10px;
}

a:any-link {
    text-decoration: none;
}

section h1,
section h2,
section h3,
section h4,
section p {
    color: #cec700;
    font-size: large;
    margin: 10px;
}

.error {
    border-color: red;
}

.text-error {
    color: red;
    font-size: x-small;
}

@media screen and (max-width: 1023px) {

    .link-manual:hover {
        transition: 1s;
        color: #fff700;
    }

    .raise:hover,
    .raise:focus {
        box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
        transform: translateY(-0.25em);
        transition: 0.5s;
    }

    .show {
        display: none;
    }

    .raise:hover .show {
        display: block;
    }


    body>section {
        min-height: calc(100vh - 4em);
        height: 100%;
    }

    /* reglas de CSS para el header */

    #header-list {
        flex-flow: wrap !important;
        justify-content: center !important;
    }

    .nav-list {
        padding-right: 2em;
        font-size: medium;
    }

    .nav-link-manual {
        display: inline-block;
        position: relative;
        color: #cec700;
        text-decoration: none;

    }

    img {
        width: 100px;
    }

    /* reglas de CSS para el home */

    #home {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #home-art {
        display: flex;
        justify-content: center;
        padding-top: 5vh;
    }

    #home-image {
        width: 30vh;
    }

    #presentation {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    /* reglas de CSS para education */

    #education {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        padding: 2em;
    }

    #my-cards {
        display: flex;
        flex-direction: column;
        gap: 1em;

    }

    .my-card {

        border: solid #cec700 2px;
    }

    .my-card:hover {
        box-shadow: 0px 0px 50px teal;
        transition: 0.5s;
        background-color: rgb(0, 121, 113);
    }

    .my-card-info>a:any-link {
        color: #cec700;
    }


    /* reglas de CSS para technologies */

    #technologies {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 2em;
    }

    #technologies>div {
        display: flex;
        flex-flow: wrap;
        justify-content: space-evenly;
        gap: 2em;
    }

    /* reglas de CSS para projects */

    #projects {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 10px;
    }

    #projects>div {
        display: flex;
        flex-direction: column;
        gap: 5em;
    }

    #projects>div>div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2em;
    }

    /* reglas de CSS para contact */

    #contact {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 1em;
        padding: 2em 0 2em 0;
    }

    .contact-my-card {
        border: solid #fff700;
        background-color: rgb(0, 90, 126);
        width: 80vw;
    }

    .contact-my-card:hover {
        box-shadow: 0px 0px 30px rgb(25, 9, 26);
        transition: 0.5s;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
        gap: 20px;
    }

    label {
        color: #cec700;
    }

    input {
        border-radius: 5px;
        border-color: #e0e0e0;
        background-color: #fafafa;
    }

    #submit {
        background-color: #cec700;
        padding: 5px 15px 5px 15px;
    }

    #submit:hover {
        background-color: #cec700;
        padding: 10px 25px 10px 25px;
        box-shadow: 0px 0px 10px rgb(25, 9, 26);
        transition: 0.5s;
    }

    #contact-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2em;

    }

    #contact-me {
        padding-top: 2em;
    }

    
}

@media screen and (min-width: 1024px) {

    .link-manual:hover {
        transition: 1s;
        color: #fff700;
    }

    .raise:hover,
    .raise:focus {
        box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
        transform: translateY(-0.25em);
        transition: 0.5s;
    }

    .show {
        display: none;
    }

    .raise:hover .show {
        display: block;
    }

    /* reglas de CSS para el header */

    #header {
        justify-content: flex-end;
    }

    .nav-list {
        padding-right: 2em;
        font-size: larger;
    }

    .nav-link-manual {
        display: inline-block;
        position: relative;
        color: #cec700;
        text-decoration: none;
        padding: 5px 20px;
    }


    .nav-link-manual:before,
    .nav-link-manual:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        transform: scale(0);
        transition: 1s;
    }

    .nav-link-manual:before {
        border-bottom: 2px solid #fff700;
        border-left: 2px solid #fff700;
        transform-origin: 0 100%;
    }

    .nav-link-manual:after {
        border-top: 2px solid #fff700;
        border-right: 2px solid #fff700;
        transform-origin: 100% 0%;
    }

    .nav-link-manual:hover:after,
    .nav-link-manual:hover:before {
        transform: scale(1);
    }

    /* reglas de CSS para el home */

    #home {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    #home-image {
        height: 50vh;
    }

    #home-art {
        display: flex;
        margin: auto 20px auto auto;
    }

    #presentation {
        display: flex;
        flex-direction: column;
        width: 60vh;
        margin: auto auto auto 20px;
    }

    #home h1 {
        font-size: xx-large;
    }

    #icons {
        margin: 20px 10px;
        display: flex;
        gap: 20px;
    }

    /* reglas de CSS para education */

    #education {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 5em;
        justify-content: center;
    }

    #my-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .my-card {
        display: flex;
        flex-direction: column;
        min-width: 20vw;
        max-width: 40vw;
        margin: 0 50px 0 50px;
        border: solid #cec700 2px;
    }

    .my-card:hover {
        box-shadow: 0px 0px 50px teal;
        transition: 0.5s;
        background-color: rgb(0, 121, 113);
    }

    .my-card-info>a:any-link {
        color: #cec700;
    }

    /* reglas de CSS para technologies */

    #technologies {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 5em;
        justify-content: center;
    }

    #technologies>div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* reglas de CSS para projects */

    #projects {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #projects>div {
        padding-top: 15vh;
        display: flex;
        flex-direction: column;
        gap: 5em;
    }

    #projects>div>div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .small {
        font-size: small !important;
        width: 40vw;
    }

    .project img {
        width: 15em;
        height: 15em;
        object-fit: cover;
    }

    .raise:hover img {
        width: 100%;
    }

    .project:hover>a>p {
        transition: 1s;
        color: #fff700 !important;
    }

    /* reglas de CSS para contact */

    #contact {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .contact-my-card {
        border: solid #fff700;
        background-color: rgb(0, 90, 126);
        width: 40vw;
        padding-top: 40px;
        margin: 2em;
    }

    .contact-my-card:hover {
        box-shadow: 0px 0px 30px rgb(25, 9, 26);
        transition: 0.5s;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
        gap: 20px;
    }

    label {
        color: #cec700;
    }

    input {
        border-radius: 5px;
        border-color: #e0e0e0;
        background-color: #fafafa;
    }

    #submit {
        background-color: #cec700;
        padding: 5px 15px 5px 15px;
    }

    #submit:hover {
        background-color: #cec700;
        padding: 10px 25px 10px 25px;
        box-shadow: 0px 0px 10px rgb(25, 9, 26);
        transition: 0.5s;
    }

    #contact-info {
        display: flex;
        justify-content: space-between;
    }

    #contact-me {
        padding-top: 2em;
    }

    #contact-title {
        margin-top: 80px;
    }

    #submit {
        background-color: #cec700;
        padding: 5px 15px;
        border-radius: 10px;
        border-color: none;
    }

    #submit:hover {
        background-color: #cec700;
        padding: 10px 25px;
        box-shadow: 0px 0px 10px rgb(25, 9, 26);
        transition: 0.5s;
    }

}